* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    font-family: sans-serif;
}

.hero-image {
    height: 100vh;
    width: 40vw;
}

.odin {
    position: absolute;
    background-color: hsl(0deg 0 20 / .8);
    width: 40vw;
    top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
}

.attribute {
    position: absolute;
    bottom: 10px;
    left: 300px;
    color: white;
    font-size: 18px;
}

a {
    color: white;
}

.odin > img {
    height: 120px;
    width: 100px;
}

.odin > p {
    color: white;
    font-family: "Metamorphous", sans-serif;
    font-size: 64px;
}

.content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.header {
    flex: 1;
    background-color: hsl(0deg 0 95);
}

.form {
    flex: 1;
    padding-left: 5%;
}

h1 {
    padding: 25% 20% 5% 5%;
}

span {
    font-style: italic;
}

h2 {
    font-size: 36px;
    font-weight: 500;
    margin-left: 10px;
    padding: 20px 0;
}

label {
    margin-left: 10px;
    margin-bottom: -8px;
}

input {
    height: 2.5rem;
    width: 20rem;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid #e5e7eb;
    color: black;
    font-size: 18px;
    padding-left: 4px;
}

.login {
    flex: 1;
    background-color: hsl(0deg 0 95);
    padding: 7vh 0 0 2.5vw;
    font-size: 20px;
}

.login > a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}

.one, .two, .three {
 display: flex;
 justify-content: flex-start;
 padding-bottom: 20px;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
    padding: 5px 15px;
    border-radius: 7px;
    background-color: #596D48;
    color: white;
    width: 10vw;
    height: 2vh;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    position: relative;
    top: 15vh;
}

input:valid:not(:focus) {
    border: 1px solid green;
    background-color: hsl(120deg  50 50 / .2);
}

input:invalid:not(:focus):not(:placeholder-shown) {
    border: 1px solid red;
}

input:focus {
    border: 1px solid blue;
}